@media only screen and (min-width: 784px) {
  :root {
    font-size: 14pt;
  }

  body {
    --content-width: 80vw;
    --ul-pad: 20%;
  }

  #main-menu {
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  .header {
    padding: 1rem 1rem 1rem 1rem;
    justify-content: left;
    width: 40%;

    a {
      word-spacing: 100%;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;

      text-align: left;
    }
  }

  .options {
    flex: 1;
    text-align: right;
    min-width: 450px;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 0px;
  }

  .grid-contain {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media only screen and (max-width: 783px) {
  #bar-menu div {
    display: none;
  }

  #bar-menu .home {
    width: 100%;
  }

  #bar-menu .drop {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100px;
  }
}