@media only screen and (min-width: 784px) {
  :root {
    font-size: 14pt;
  }

  body {
    --content-width: 80vw;
    --ul-pad: 20%;
  }

  .menu {
    flex-direction: row-reverse;
    align-items: center;
  }

  .header {
    a {
      word-spacing: 100%;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;

      text-align: left;
    }

    margin-left: 15px;
    width: 100%;
  }

  .options {
    text-align: right;
    min-width: fit-content;
    margin-left: 100px;
  }

  .grid-contain {
    grid-template-columns: 1fr 1fr 1fr;
  }
}