@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Thin Italic'), local('IBMPlexSans-ThinItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX8KVElMYYaJe8bpLHnCwDKhdTmdKZM.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('IBM Plex Sans ExtraLight Italic'), local('IBMPlexSans-ExtraLightItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX7KVElMYYaJe8bpLHnCwDKhdTm2IdscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX7KVElMYYaJe8bpLHnCwDKhdTmvIRscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX-KVElMYYaJe8bpLHnCwDKhdTeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX7KVElMYYaJe8bpLHnCwDKhdTm5IVscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX7KVElMYYaJe8bpLHnCwDKhdTmyIJscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX7KVElMYYaJe8bpLHnCwDKhdTmrINscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Thin'), local('IBMPlexSans-Thin'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX-KVElMYYaJe8bpLHnCwDKjbLeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjR7_MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjXr8MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKtdY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjSL9MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjQ76MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYX9KVElMYYaJe8bpLHnCwDKjWr7MIY.ttf) format('truetype');
}
:root {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #25253D;
  color: #F1FBFD;
  scroll-behavior: smooth;
  font-size: 7.5vw;
}
body {
  --text-color: #25253D;
  --background-color: #F1FBFD;
  --accent-color: #F53E8A;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}
/*a tag and other hyperlinks*/
a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  transition: color 0;
}
a:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: color 0.5s;
}
a:active,
a:focus {
  transition: text-shadow 0.25s;
  text-shadow: 0 0 10px var(--accent-color);
}
a.fancy {
  position: relative;
}
a.fancy:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.065rem;
  bottom: 0.05rem;
  left: 50%;
  color: inherit;
  background-color: currentColor;
  transition: width 0.33333333s ease-in-out, left 0.33333333s ease-in-out;
}
a.fancy:hover:before {
  left: 0%;
  width: 100%;
}
a.fancy:active,
a.fancy:focus {
  transition: text-shadow 0.25s;
  box-shadow: 0 0 10px var(--accent-color);
}
/* styling for h# tags */
h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h2 {
  font-size: 1.75em;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h5 {
  font-weight: 400;
  font-size: 1em;
  color: var(--accent-color);
  margin: 0;
}
/* styling for ul and li tags and other things associated with lists. */
ul {
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
}
li {
  list-style-type: none;
  position: relative;
}
li:before {
  content: "\25A0";
  font-size: 0.5em;
  position: absolute;
  left: -1.5em;
  top: 0.5em;
  color: var(--accent-color);
}
ul li .hidden:before {
  content: " (";
}
ul li .hidden:after {
  content: ")";
}
ul li:hover .hidden {
  transition: opacity 0.5s;
  opacity: 1;
}
/* small styling changes for tags */
p {
  margin: 0px 0px 0px 0px;
}
b {
  font-weight: 600;
}
/* styling for basic classes common throughout the site */
#content {
  background-color: var(--background-color);
  padding: 0 0.25rem 0 0.25rem;
  font-size: 0.5rem;
}
.section {
  /*
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  width: 100%;*/
  opacity: 0;
  display: none;
  flex-direction: column;
}
.main {
  flex: 0 0 auto;
  padding: 0.25rem;
  text-align: left;
  color: var(--text-color);
  font-size: 0.65rem;
}
.hidden {
  opacity: 0;
}
.date_loc {
  font-weight: 300;
  font-style: italic;
  float: right;
}
.highlight {
  color: var(--accent-color);
}
.header {
  flex: 0 0 auto;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 500;
  font-size: 0.65rem;
}
.header .menu_btn {
  float: right;
}
.footer {
  padding: 0.25rem;
  font-size: 0.6rem;
  flex: 0 1 auto;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 784px) {
  :root {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 992px) {
  :root {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1600px) {
  :root {
    font-size: 2vw;
  }
}
