@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX8KVElMYYaJe8bpLHnCwDKhdTmdKZM.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTm2IdscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTmvIRscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX-KVElMYYaJe8bpLHnCwDKhdTeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTm5IVscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTmyIJscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX7KVElMYYaJe8bpLHnCwDKhdTmrINscQ.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX-KVElMYYaJe8bpLHnCwDKjbLeEA.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjR7_MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjXr8MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYXgKVElMYYaJe8bpLHnCwDKtdY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjSL9MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjQ76MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v8/zYX9KVElMYYaJe8bpLHnCwDKjWr7MIY.ttf) format('truetype');
}
html,
body {
  margin: 0;
  height: 100%;
}
:root {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #25253D;
  color: #F1FBFD;
  scroll-behavior: smooth;
  font-size: 10pt;
}
body {
  --text-color: #F1FBFD;
  --background-color: #25253D;
  --accent-color: #F53E8A;
  --pad-offset: 5vh;
  --content-offset: 50px;
  --content-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F1FBFD;
  background-color: transparent;
}
/*a tag and other hyperlinks*/
a {
  font-weight: 600;
  text-decoration: none;
  color: var(--accent-color);
}
a:active,
a:focus {
  transition: text-shadow 0.25s;
  text-shadow: 0 0 10px var(--accent-color);
}
a:hover {
  cursor: pointer;
}
a.fancy {
  position: relative;
}
a.fancy:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.065rem;
  bottom: 0.05rem;
  left: 50%;
  color: inherit;
  background-color: currentColor;
  transition: width 0.33333333s ease-in-out, left 0.33333333s ease-in-out;
}
a.fancy:hover:before {
  left: 0%;
  width: 100%;
}
a.fancy:active,
a.fancy:focus {
  transition: text-shadow 0.25s;
  text-shadow: 0 0 10px var(--accent-color);
}
a.fancy:active:before a.fancy:focus:before {
  transition: text-shadow 0.25s;
  box-shadow: 0 0 10px var(--accent-color);
}
/* styling for h# tags */
h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h2 {
  font-size: 1.75em;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h5 {
  font-weight: 400;
  font-size: 1em;
  color: var(--accent-color);
  margin: 0;
}
/* styling for ul and li tags and other things associated with lists. */
ul {
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
}
li {
  position: relative;
}
li:before {
  content: "\25A0";
  font-size: 0.5em;
  position: absolute;
  left: -1.5em;
  top: 0.5em;
  color: var(--accent-color);
}
ul.no_bullets li:before {
  content: "";
}
ul li .hidden:before {
  content: " (";
}
ul li .hidden:after {
  content: ")";
}
ul li:hover .hidden {
  transition: opacity 0.5s;
  opacity: 1;
}
/* small styling changes for tags */
p {
  margin: 0px 0px 0px 0px;
}
b {
  font-weight: 700;
}
/* styling for basic classes common throughout the site */
.header {
  padding: 0.5rem 1rem 0.5rem 1rem;
  /*
  @supports(padding: max(0px)) {
    padding-left: @multi-padding-left;
    padding-right: @multi-padding-right;
  }
  */
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  outline: 8px solid var(--accent-color);
  outline-offset: 10px;
  min-width: 250px;
}
.menu {
  transition: padding-top 0.25s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: var(--pad-offset);
  flex: 0 0 auto;
  z-index: 3;
  color: var(--text-color);
  background: var(--background-color);
  font-size: 1rem;
  text-align: center;
  height: max-content;
  width: 100%;
}
.menu .options {
  margin-top: calc(20px + 2vh);
}
.footer {
  padding: 0.25rem;
  background-color: #3B3249;
  font-size: 0.6rem;
  flex: 0 0 auto;
}
@supports (padding: max(0px)) {
  .footer {
    padding-left: max(0.25rem, env(safe-area-inset-left));
    padding-right: max(0.25rem, env(safe-area-inset-right));
  }
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#content {
  flex: 0 0 auto;
  padding: 0.25rem 0.25rem 0.4rem 0.25rem;
  padding-top: var(--content-offset);
  width: var(--content-width);
}
#content h3 {
  position: fixed;
  margin: min(var(--pad-offset), -10px);
  z-index: -1;
  color: var(--background-color);
  background-color: var(--accent-color);
  margin-left: calc((var(--content-width) - 100vw)/2);
  padding-left: max(0.25rem, env(safe-area-inset-left));
  padding-right: max(0.25rem, env(safe-area-inset-right));
  font-size: 17.5vw;
  width: 100%;
  opacity: 0.25;
  text-align: center;
}
#content ul {
  --ul-pad: 200px;
  padding: 0px var(--ul-pad) 0px 20px;
}
.section {
  /*
  box-sizing: border-box;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  width: 100%;*/
  opacity: 0;
  display: none;
  flex-direction: column;
}
.hidden {
  opacity: 0;
}
.date_loc {
  font-weight: 300;
  font-style: italic;
  float: right;
}
.highlight {
  color: var(--accent-color);
}
