@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@accent-color-1: #2EF7E6;
@accent-color-2: #F53E8A;
@background-color-1: #F1FBFD;
@background-color-2: #25253D;
@extra-color-1: #3B3249;
@extra-color-2: #675D83;
@extra-color-3: #8C7891;
@extra-color-4: #008DA3;
@extra-color-5: #694F5D;
@extra-color-6: #FFD9DA;

@speed: 0.5s;

html, body {
  margin: 0;
  height: 100%;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: @background-color-2;
  color: @background-color-1;

  scroll-behavior: smooth;

  font-size: 12pt;
}

body {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  --text-color: @background-color-1;
  --background-color: @background-color-2;
  --accent-color: @accent-color-2;

  --pad-offset: 25px;

  --content-width: 95vw;
  --ul-pad: 0px;

  --menu-hidden-height: -37px;

  color: @background-color-1;
  background-color: transparent;
}

@import url('./elements/_imports.less');
@import url('./classes/_imports.less');
@import url('./resolutions/_imports.less');