.menu {
  width: auto;
  height: 100%;
  left: 50px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-grow: 4;


  color: var(--extra-color-5);
  letter-spacing: 5px;
  background-color: var(--extra-color-4);
}

.menu ul {
  width: 100%;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
}

.menu a {
  margin: 0px;
  position: relative;
  text-align: left;
  transition: var(--hover-speed);
}

.menu li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.c1 {
  --accent-color: var(--accent-color-1);
}

.c2 {
  --accent-color: var(--accent-color-2);
}

a:hover {
  color: var(--accent-color);
}

