
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color {
  color: var(--accent-color);
  background-color: var(--background-color);
}

.color_reverse {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.color_accent {
  color: var(--accent-color);
}

.color_text {
  color: var(--text-color);
}

.background_header {
  position: fixed;
  z-index: -1;

  margin: ~"min(var(--pad-offset), -10px)";
  margin-left: calc((var(--content-width) - 100vw)/2);
  width: 100vw;

  font-size: 17.5vw;
  text-align: center;

  opacity: 0.25;
}

.hidden {
  opacity: 0;
}

.thin {
  font-weight: 300;
}
