/* styling for basic classes common throughout the site */
@multi-padding-left: ~"max(0.25rem, env(safe-area-inset-left))";
@multi-padding-right: ~"max(0.25rem, env(safe-area-inset-right))";

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;

  justify-content: center;

  font-weight: 900;
  letter-spacing: 0.15rem;
  font-size: ~"min(max(6vw, 1.25rem), 2.5rem)";
  text-overflow: ellipsis;

  background-color: var(--accent-color);
  color: var(--background-color);

  a {
    color: var(--background-color);
    text-align: center;
  }
}

.options {
  margin-top: 15px;
  font-size: 1rem;
  text-align: center;

}

#main-menu {
  padding: 0px;
  margin: 0 auto;

  letter-spacing: 0.005rem;

  color: var(--text-color);
  background: transparent;
}

#bar-menu {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 2;

  display: flex;
  flex-direction: row;
  align-items: center;

}

#bar-menu div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 550px;
}

#bar-menu div a {
  background-color: var(--background-color);
  text-align: center;
  display: inline-block;
  flex: 1;
  padding: 10px;
  width: 20%;
}

#bar-menu .home {
  display: block;
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 10px 1rem;
  width: 40%;

  font-weight: 900;
  letter-spacing: 0.15rem;
}

#bar-menu .drop {
  display: none;
  flex: 0;

  div {
    min-width: 0px;
    width: 25px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 6px 0;
    display: block;
  }
}


body section.content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
}


.footer {
  padding: 0.25rem;

  background-color: @extra-color-1;

  @supports(padding: max(0px)) {
    padding-left: @multi-padding-left;
    padding-right: @multi-padding-right;
  }

  font-size: 0.6rem;
  flex: 0 0 auto;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

#content {
  flex: 0 0 auto;

  padding: 0.25rem 0.25rem 0.4rem 0.25rem;

  margin-top: 0;
  font-size: 1rem;


  width: var(--content-width);
}

.section {
  flex-direction: column;
}

.hidden {
  opacity: 0;
}

.date_loc {
  font-weight: 300;
  font-style: italic;
}

.highlight {
  color: var(--accent-color);
}
