.menu {
  min-width: 10vw;
  max-width: 15vw;
  height: 100%;
  left: 5vw;
  position: fixed;
  z-index: 1;
  display: none;
  color: #4a4e69;
  letter-spacing: 5px;
  background-color: #d5cad6;
}
.menu ul {
  width: 100%;
  vertical-align: middle;
}
.menu a {
  margin: 0px;
  position: relative;
  text-align: left;
  transition: 0.5s;
}
.menu li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  text-align: right;
}
.menu li:before {
  content: none;
}
@media only screen and (min-width: 1280px) {
  .menu {
    display: flex;
  }
}
.section#title {
  padding-top: 0px;
  background-color: #f1fbfd;
  color: #f53e8a;
  min-height: 100vh;
  text-align: center;
}
.section#about {
  background-color: #25253d;
  --text-color: #f1fbfd;
  --accent-color: #2ef7e6;
}
.section#exp {
  background-color: #4a4e69;
  --text-color: #f1fbfd;
  --accent-color: #f53e8a;
}
:root {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #25253d;
  color: #f1fbfd;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-flow: column;
  font-size: 16px;
  letter-spacing: 1px;
}
p {
  margin: 10px 0px 10px 0px;
}
a {
  color: inherit;
  transition: 0.5s;
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}
b {
  font-weight: 600;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h2 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h3 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h4 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: var(--accent-color);
  margin: 0;
}
h5 {
  font-weight: 400;
  font-size: 20px;
  color: var(--accent-color);
  margin: 0;
}
ul {
  color: var(--accent-color);
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 20px 0px;
  list-style-position: outside;
  list-style-type: none;
}
li {
  margin-left: 20px;
  text-indent: -27px;
  color: var(--text-color);
}
ul li:before {
  content: "\2010";
  padding-right: 20px;
  transition: 0.5s;
  color: var(--text-color);
}
ul.fancylist li {
  transition: 0.5s;
  color: var(--text-color);
}
ul.fancylist li:hover {
  color: var(--accent-color);
}
ul.fancylist li:hover:before {
  color: var(--accent-color);
}
.hidden {
  opacity: 0;
  transition: 0.5s;
}
ul.fancylist li .hidden:before {
  content: " (";
}
ul.fancylist li .hidden:after {
  content: ")";
}
ul.fancylist li:hover .hidden {
  opacity: 1;
}
a:hover {
  color: var(--accent-color);
}
.center {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}
.section {
  margin: 0px;
  padding: 20px 0px 20px 0px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sub {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.controlfill {
  width: 95%;
}
.c1 {
  --accent-color: #2ef7e6;
}
.c2 {
  --accent-color: #f53e8a;
}
.time {
  font-weight: 300;
  font-style: italic;
  max-width: 40vw;
  float: right;
}
ul.column li {
  margin-right: 20vw;
}
@media only screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }
  .controlfill {
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  ul.column li {
    margin-right: 15vw;
  }
}
