
@import url('./menu.less');
@import url('./sections.less');

@accent-color-1: #2ef7e6;
@accent-color-2: #f53e8a;
@background-color-1: #f1fbfd;
@background-color-2: #25253d;
@extra-color-1: #5e548e;
@extra-color-2: #ef798a;
@extra-color-3: #f7a9a8;
@extra-color-4: #d5cad6;
@extra-color-5: #9a8c98;
@extra-color-6: #4a4e69;

@hover-speed: 0.5s;

:root {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: @background-color-2;
  color: @background-color-1;

  scroll-behavior: smooth;
}

body  {
  margin: 0;

  display: flex;
  flex-flow: column;

  font-size: 16px;
  letter-spacing: 1px;
}



p {
  margin: 10px 0px 10px 0px;
}

a {
  color: inherit;
  transition: @hover-speed;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

b {
  font-weight: 600;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: lowercase;
  
  color: var(--accent-color);
  
  margin: 0;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: lowercase;
  
  color: var(--accent-color);
  
  margin: 0;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: lowercase;
  
  color: var(--accent-color);
  
  margin: 0;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: lowercase;

  color: var(--accent-color);

  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  color: var(--accent-color);
  margin: 0;
}

ul {
  color: var(--accent-color);
  padding: 0px 0px 0px 25px;
  margin: 0px 0px 20px 0px;
  list-style-position: outside;
  list-style-type: none;
}

li {
  margin-left: 20px;
  text-indent: -27px;
  color: var(--text-color);
}

ul li:before  {
  content: "\2010";
  padding-right: 20px;
  transition: @hover-speed;
  color: var(--text-color);
}

ul.fancylist li {
  transition: @hover-speed;
  color: var(--text-color);
}

ul.fancylist li:hover {
  color: var(--accent-color);
}

ul.fancylist li:hover:before {
  color: var(--accent-color);
}

.hidden {
  opacity: 0;
  transition: @hover-speed;
}

ul.fancylist li .hidden:before {
  content: " (";
}

ul.fancylist li .hidden:after {
  content: ")";
}

ul.fancylist li:hover .hidden{
  opacity: 1;
}

a:hover {
  color: var(--accent-color);
}

.center {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

.section {
  margin: 0px;
  padding: 20px 0px 20px 0px;
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;
}


.sub {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.controlfill {
  width: 95%;
}

.c1 {
  --accent-color: @accent-color-1;
}

.c2 {
  --accent-color: @accent-color-2;
}

.time {
  font-weight: 300;
  font-style: italic;
  max-width: 40vw;
  float: right;
}

ul.column li {
  margin-right: 20vw;
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 18px;
  }

  .controlfill {
    width: 60vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  ul.column li {
    margin-right: 15vw;
  }
}

