.menu {
  width: auto;
  height: 100%;
  left: 50px;
  position: fixed;
  z-index: 1;
  display: none;
  flex-grow: 4;


  color: @extra-color-6;
  letter-spacing: 5px;
  background-color: @extra-color-4;
}

.menu ul {
  width: 100%;
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
}

.menu a {
  margin: 0px;
  position: relative;
  text-align: left;
  transition: @hover-speed;
}

.menu li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .menu {
    display: flex;
  }
}