html, body, #root {
  --accent-color-1: #2ef7e6;
  --accent-color-2: #e34f8c;
  --background-color-1: #f1fbfd;
  --background-color-2: #25253d;
  --extra-color-1: #5e548e;
  --extra-color-2: #ef798a;
  --extra-color-3: #f7a9a8;
  --extra-color-4: #d5cad6;
  --extra-color-5: #9a8c98;
  --extra-color-6: #4a4e69;

  --hover-speed: 0.5s;

  margin: 0;
  height: 100%;

  background-color: var(--background-color-2);
  scroll-behavior: smooth;
}
